{% extends "base.html" %} {% import 'macros.html' as macros with context %} {%
block title %}Blog{% endblock %} {% block page_title %}
<h1>Blog</h1>
{% endblock %} {% block content %}
<section id="content">
    <ul class="article-list">
        {% for article in articles_page.object_list %}
        <li>
            <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            <p class="article-meta">
                {{ article.locale_date }}{% if article.category %} &middot;
                <a href="{{ SITEURL }}/{{ article.category.url }}"
                    >{{ article.category }}</a
                >{% endif %}
            </p>
            {% if article.summary %} {{ article.summary }} {% endif %}
        </li>
        {% endfor %}
    </ul>
    {{ macros.pagination(articles_paginator, articles_page,
    articles_previous_page, articles_next_page) }}
    <a class="btn-link" href="{{ SITEURL }}/{{ FEED_ALL_RSS }}"
        ><div class="btn">Subscribe via RSS</div></a
    >
</section>
{% endblock %}
