{% extends "base.html" %} {% block title %}{{ article.title|striptags }}{%
endblock %} {% block meta_description %}{{ article.summary|striptags }}{%
endblock %} {% block og_type %}article{% endblock %} {% block page_title %}
<h1>{{ article.title }}</h1>
<p class="article-meta">
    {{ article.locale_date }}{% if article.category %} &middot;
    <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a
    >{% endif %}
</p>
{% endblock %} {% block content %}
<section id="content">{{ article.content }}</section>
{% endblock %}
